@font-face {
    font-family: 'socicon';
    src: url('fonts/socicon.eot');
    src: url('fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('fonts/socicon.woff') format('woff'),
         url('fonts/socicon.woff2') format('woff2'),
         url('fonts/socicon.ttf') format('truetype'),
         url('fonts/socicon.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

/*Cancels all padding in an element*/
.no-padding {
    padding:0px;
}

/*Footer style*/
.footer {
    background-color: #2d3037;
}

/*Footer links style*/
#footer-links a{
    color:#fff;
    text-decoration: none;
}

#footer-links a:hover{
    color:#fff;
    text-decoration: underline;
}

/*Full width*/
.full-width {
    width:100%;
}

.img-responsive {
    display: inline-block;
}

/* ---------- TEXT STYLES*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

/*body { padding-top: 64px; }*/

html,body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color:#000;
    overflow-x: hidden;
}

.bold {
    font-weight: 600;
}

h1 { font-size: 4.000em; } /*75px on web, tested*/
h2 { font-size: 2.938em; } /*47px on web, tested*/
h3 { font-size: 2.500em; } /*40px on web, tested*/
h4 { font-size: 2.125em; } /*34px on web, tested*/
h5 { font-size: 1.625em; } /*26px on web, tested*/
h6 { font-size: 1.250em; } /*20px on web, tested*/
p  { font-size: 0.938em; }


.text-white {
    color: #fff;
}

.text-yellow {
    color:#f1c40d;
}

.text-red {
    color:#c71f26;
}

.text-serif {
    font-family: 'Roboto Slab', serif;
}

.black-outline {
    /*-webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;*/
    text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}

/* ---------- NAVIGATION STYLES */

/* <nav> style*/
.navbar-background {
    background-color: #000;
}

ul.nav a,
ul.nav a:visited,
ul.nav a:active,
.navbar-toggle {
    -webkit-border-radius: 10px/12px;
	-moz-border-radius: 10px/12px;
	border-radius: 10px/12px;
    border: solid 2px #fff;
    padding:14px;
    margin: 5px;
    color: #fff;
    font-size:1.250em;
}

#contact-btn {
    -webkit-border-radius: 10px/12px;
	-moz-border-radius: 10px/12px;
	border-radius: 10px/12px;
    border: solid 2px #fff;
    padding:10px;
    margin: 5px;
    color: #fff;
}

ul.nav a:hover,
#contact-btn:hover,
.menu-selected {
    color:#000;
    background-color: #fff;
}

.dropdown-menu {
    color:#000;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
    margin: 10px;
    padding:10px;
}

textarea {
    resize: none;
}

.social-media{
    font-family: 'socicon';
    color:#c71f26 !important;
    display: inline-block !important;
    padding:10px !important;
    margin:5px !important;
}

.social-media:hover{
    font-family: 'socicon';
    color:#000 !important;
    display: inline-block !important;
    padding:10px !important;
    margin:5px !important;
}

.dropdown-menu {
    width: 300px !important;
}

/* ------------- Gradient background-colors*/
.red-gradient-1 {
    background-color: #c71f26;
	background-image: -webkit-linear-gradient(bottom, rgba(254,166,52,.29), rgba(150,28,31,0));
	background-image: -moz-linear-gradient(bottom, rgba(254,166,52,.29), rgba(150,28,31,0));
	background-image: -o-linear-gradient(bottom, rgba(254,166,52,.29), rgba(150,28,31,0));
	background-image: -ms-linear-gradient(bottom, rgba(254,166,52,.29), rgba(150,28,31,0));
	background-image: linear-gradient(to top, rgba(254,166,52,.29), rgba(150,28,31,0));
}

.light-orange-gradient {
    background-color: #edb552;
	background-image: -webkit-linear-gradient(bottom, #f4ca3a, rgba(244,176,58,0));
	background-image: -moz-linear-gradient(bottom, #f4ca3a, rgba(244,176,58,0));
	background-image: -o-linear-gradient(bottom, #f4ca3a, rgba(244,176,58,0));
	background-image: -ms-linear-gradient(bottom, #f4ca3a, rgba(244,176,58,0));
	background-image: linear-gradient(to top, #f4ca3a, rgba(244,176,58,0));
}

.dark-orange-to-red-gradient {
    background-color: #fff;
	background-image: -webkit-linear-gradient(top, #e2411d, #c0241c);
	background-image: -moz-linear-gradient(top, #e2411d, #c0241c);
	background-image: -o-linear-gradient(top, #e2411d, #c0241c);
	background-image: -ms-linear-gradient(top, #e2411d, #c0241c);
	background-image: linear-gradient(to bottom, #e2411d, #c0241c);
}

.dark-red-to-bright-red-gradient {
    background-color: #df1939;
	background-image: -webkit-linear-gradient(top, #961c1f, rgba(150,28,31,0));
	background-image: -moz-linear-gradient(top, #961c1f, rgba(150,28,31,0));
	background-image: -o-linear-gradient(top, #961c1f, rgba(150,28,31,0));
	background-image: -ms-linear-gradient(top, #961c1f, rgba(150,28,31,0));
	background-image: linear-gradient(to bottom, #961c1f, rgba(150,28,31,0));
}

/* ------------- Solid Background-colors */
.background-red {
    background-color:#c71f26;
}

.background-yellow {
    background-color:#f1c40d;
}

.background-black {
    background-color:#000;
}

.background-teal {
    background-color: #0cbcc3;
}

.background-white {
    background-color: #fff;
}

/* ------------ Img backgrounds (Index) */
#index-top-bg {
    background-image: url(img/index-bg.jpg);
    background-size:cover;
    background-position: center bottom;
    
    /*position for children*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    align-items: center;
    justify-content: center;
}

#frustrated-guy {
    background-image: url(img/frustrated-guy.jpg);
    background-size:cover;
    background-position: center top;
}

#red-bells {
    background-image: url(img/red-bells.jpg);
    background-size:cover;
    background-position: center top;
}

#light-orange-dots {
    background-image: url(img/orange-dots.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

#dark-orange-dots {
    background-image: url(img/dark-orange-dots.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

#bottom-red-dots {
    background-image: url(img/bottom-red-dots.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

#bottom-strawberry-red-dots {
    background-image: url(img/bottom-good-it-red-dots.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

#approach-background {
    background-image: url(img/approach-bg.jpg);
    background-size: cover;
    background-position: top right;
    
    margin-top:-100px;
}

#users-moving {
    background-image: url(img/kid-bg.jpg);
    background-size: cover;
    background-position:bottom center;
}

#timeline-img {
    background-image: url(img/timeline-bg.jpg);
    background-size: cover;
    background-position: top center;
}

.top-dots {
    display: block;
    margin-top: -130px;
    height:130px;
}

.bottom-dots {
    display: block;
    margin-bottom: -130px;
    height:130px;
}

/* ------------ Img backgrounds (GoodIT) */
#good-it-top-bg {
    background-image: url(img/goodIT-header.jpg);
    background-size:cover;
    background-position: center bottom;
    
    /*position for children*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    align-items: center;
    justify-content: center;
}

/* ------------ Separations: blocks so we dont use extra margins */
.separation200 { display: block; height: 200px; }
.separation100 { display: block; height: 100px; }
.separation50 { display: block; height: 50px; }
.separation40 { display: block; height: 40px; }
.separation30 { display: block; height: 30px; }
.separation20 { display: block; height: 20px; }

/* ------------ Index miscelaneous styles */
/*FIFTH SECTION: Margin so the Plus sign on Flexible outsoursing gets on top of the first block*/
.outsourcing-top-block {
    margin-top:-15px;
}

/* FIFTH SECTION: Size for the color of the Flexible outsourcing blocks*/
.offsite-color {
    width: 50px;
    height:30px;
    display: block;
    margin: auto;
}

/* SIXTH SECTION: Our approach block when is closed */
.closed-approach {
    background-color:#c71f26;
    color:#fff;
    padding:15px 15px 50px 15px;
}

.opened-approach {
    background-color:#fff;
    color:#0fc8ce;
    padding:15px 15px 50px 15px;
}

/*SIXTH SECTION: Our approach arrow position to the right in the block*/
.position-right-arrow {
    float:right;
}

/*SIXTH SECTION: Our approach text container*/
.our-approach-container {
    background-color:#e4e4e4;
    -webkit-border-radius: 10px/9px 9px 10px 10px;
	-moz-border-radius: 10px/9px 9px 10px 10px;
	border-radius: 10px/9px 9px 10px 10px;
    padding:10px;
}

/*SEVENTH SECTION: Engagement model map button style */
.engagement-model-btn {
    display:block;
    border: solid 1px #fff;
    color:#000;
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    padding-top:10px;
    padding-bottom:10px;
}

.engagement-model-btn:hover,
.engagement-model-btn:active,
.engagement-model-btn:visited,
.engagement-model-btn-selected {
    display:block;
    border: solid 1px #000;
    color:#fff !important;
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    padding-top:10px;
    padding-bottom:10px;
    text-decoration: none !important;
}

/*SEVENTH SECTION: Maps width*/
.map-graphic { width:100% }

/*SEVENTH SECTION: Colors for the outsourcing*/
.onshore-bg { background-color:#e74b3b }
.nearshore-bg { background-color:#0fc8ce }
.offshore-bg { background-color:#f0c40d }
.vc-bg { background-color:#fff }

/*SEVENTH SECTION: Outsourcing button style*/
.outsourcing-btn {
    color:#000;
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    display: block;
    padding-top:15px;
    padding-bottom:15px;
}

.outsourcing-btn:hover,
.outsourcing-btn:active,
.outsourcing-btn:visited {
    text-decoration: underline;
    color:#000;
}

.out-selected {
    padding-bottom:50px;
}

/*SEVENTH SECTION: Outsourcing text container inside the col-lg-12 (To give the general padding)*/
.outsource-content {
    padding: 30px;
}

/*EIGTH SECTION: CASE STUDIES*/
/*EIGTH SECTION: This is added in the <row> tag for the elements to be vertical aligned*/
.flex-container {
    /*position for children*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    flex-wrap: wrap;
}
/*EIGTH SECTION: This is added in the <col> tag for the elements inside to be vertical aligned*/    
.flex-center-element{
    align-self: center;
}

/*EIGTH SECTION: Style for the "Project" and "Result" Buttons*/ 
.case-studies-extra-info {
    color:#0cbcc3 !important;
    text-decoration: none !important;
    background-image: url(img/plus-unselected.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    padding-right:30px;
}


.case-studies-extra-info:hover,
.case-studies-extra-info:visited,
.case-studies-extra-info:active,
.case-studies-extra-info-selected {
    color:#0cbcc3 !important;
    text-decoration: none !important;
    background-image: url(img/plus-selected.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    padding-right:30px;
}
/*EIGTH SECTION: CSS triangle for the teal section of case studies extra info*/ 
.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 25px 25px;
    border-color: transparent transparent #0cbcc3 transparent;
    display: block;
    margin: auto;
}

/*EIGTH SECTION: CSS of case studies extra info so it gets on top of the black-background container*/ 
.extra-info-container {
    margin-top:-25px;
}

/*CAPABILITES SECTION Added by Mario*/ 
#capabilities-top-bg {
    background-image: url(img/our-capabilities-header.jpg);
    background-size:cover;
    background-position: center center;
    
    /*position for children*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    align-items: center;
    justify-content: center;
}


/*Services background Photo*/ 
#services-photo {
    background-image: url(img/capabilities/services-photo.jpg);
    background-size:cover;
    background-position: center top;
    
    align-items: center;
    justify-content: center;
}

/*Services Background Gradient*/ 
.services-bg-grad {
    /*background-image: url(img/capabilities/services-grad.png);
    background-size:cover;
    background-position: center top;
    
    align-items: center;
    justify-content: center;*/
    
    background-color: rgba(199,31,38,.73);
	background-image: -webkit-linear-gradient(bottom, rgba(241,196,13,.7), rgba(241,196,13,0));
	background-image: -moz-linear-gradient(bottom, rgba(241,196,13,.7), rgba(241,196,13,0));
	background-image: -o-linear-gradient(bottom, rgba(241,196,13,.7), rgba(241,196,13,0));
	background-image: -ms-linear-gradient(bottom, rgba(241,196,13,.7), rgba(241,196,13,0));
	background-image: linear-gradient(to top, rgba(241,196,13,.7), rgba(241,196,13,0));
}

.services-btn{
    border: 3px solid white;
    padding: 5px;
    display: block;
}

.services-btn:hover,
.services-btn-selected {
    border: 3px solid white;
    padding: 5px;
    background-color: #fff;
    display: block;
}

.services-text {
    background-color: #fff;
    color:#c71f26;
    padding: 20px;
}

.percentages {
    margin-top:-120px;
}

.yellow-fill{
    background-color:#E4A022;
}

.teal-fill{
    background-color:#0cabb1;
}

.sunflowers-bg {
    background-image: url(img/capabilities/sunflowers.jpg);
    background-size:cover;
    background-position: center center;
}

.orage-building-bg {
    background-image: url(img/capabilities/orange-photo.jpg);
    background-size:cover;
    background-position: center center;
}

.advancio-bg {
    background-image: url(img/capabilities/advancio-bg.jpg);
    background-size:cover;
    background-position: center center;
}

/*Padding for sides of the text*/ 

.padding-10{
    padding-left:10%;
    padding-right:10%;
}
.padding-15{
    padding-left:15%;
    padding-right:15%;
}
.padding-20{
    padding-left:20%;
    padding-right:20%;
}

/*Diligent Background Gradient*/ 
.diligent-bg {
    background-image: url(img/capabilities/dilig-bck.jpg);
    background-size:cover;
    background-position: center top;
    
    align-items: center;
    justify-content: center;
}

#teal-dots {
    background-image: url(img/capabilities/teal-dots.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

#yellow-dots {
    background-image: url(img/capabilities/yellow-dots.png);
    background-repeat: repeat-x;
    background-position: bottom;
}
/* ------------ Index miscelaneous styles */


/* ------------ GoodIT miscelaneous styles */
#video-container {
    height:300px;
    position: relative;
}

..video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}